body {
  width: 100%;
  font-family: Helvetica;
  margin: 3em;
  background: #333;
}

main {
  height: 50%
}

.calculator {
  width: 50%;
  height:50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: thin solid gray;
  margin: 0 auto;
  font-size: 24px;
 }

button {
  font-size: 24px;
  width: 23%;
  padding: 1em;
}
