body {
  width: 100%;
  font-family: Helvetica;
  margin: 3em;
  background: #333;
  color: white;
}

main {
  height: 50%
}

.calculator {
  width: 15em;
  height:50%;
  display: flex;
  flex-direction: column;
  border: thin solid gray;
  margin: 0 auto;
  font-size: 24px;
 }

button {
  font-size: 24px;
  width: 23%;
  padding: 1em;
}

.row {
  display: flex;
  flex-direction: row;
}
