body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Helvetica;
}

.calculator {
  width: 15em;
  height:50%;
  display: flex;
  flex-direction: column;
  border: thin solid gray;
  border-radius: .2em;
  margin: 0 auto;
  font-size: 24px;
 }

button {
  font-size: 1.5em;
  width: 3em;
  margin: 0;
  height: 3em;
  background-color: #ADD8E6;
  color: #666666;
  border: thin solid #F5F5F5;
  border-radius: .1em;
  outline: none;
}

.operator {
  background-color: #D8BFD8;
}

.cancel {
  background-color: #B0C4DE;
  color: #FFF5EE;
}

button:hover {
  background-color: #E0FFFF;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.display {
  background-color: #FFF5EE;
  font-size: 1.5em;
  color: #666666;
  width: 9.10em;
  height: 2.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .1em;
  border: 1px solid #F5DEB3;
}

.row {
  display: flex;
}
